    body {
        background: radial-gradient(circle,rgba(77, 2, 39, 1) 0%, rgba(20, 37, 56, 1) 100%);
        text-align:center;
        align-items: center;
        align-content: center;
        color: white;
    }
    a {
        color: aqua;
    }
    h1 {
        color: rgb(140, 163, 236);


    }
    #index {
        background: rgba(113, 114, 116, 0.2);
        border-radius: 16px;
        padding: 1.8rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(40px);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        height: auto;

    }
    img {
        border-radius: 4px;
    }


    .container-1::-webkit-scrollbar {
        height: 8px;
    }

    .container-1::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 4px;
    }



    .container-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .tile {
        flex: 1 1 0;
        min-width: 120px;
        max-width: 2060px;
        height: 130px;
        
        background: rgba(113, 114, 116, 0.2);
        border-radius: 16px;
        padding: 1rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(40px);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
    }

    .tile img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .tile:hover {
        transform: scale(1.03) translateY(4%);
        background: rgba(105, 105, 105, 0.6);
    }


    .project-title {
        font-weight: 700;
        color: rgb(140, 163, 236);
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
    }

    .description {
        color: #ddd;
        font-size: 0.95rem;
        margin-bottom: 0.5rem;
    }

    .project-details {
        color: #aaa;
        font-size: 0.85rem;
        font-style: italic;
    }
    .details {
        font-size: 0.85rem;
        color: #999;
    }

    .btn {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.7rem 1.5rem;
      background: linear-gradient(140deg, rgb(32, 1, 1) 0%, rgba(58, 0, 0, 0.9) 100%);
      border: none;
      border-radius: 8px;
      color: #121212;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      position: relative;
      overflow: hidden;
      text-decoration: none;
      text-align: center;
    }
